* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d334a;
    background-size: cover;
}

header {
    position: relative;
    background-color: transparent;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    /*opacity: 0.5;*/
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  

nav {
    background-color: #0000;
    line-height: 25px;
    position: sticky;
    top: 0;
}

.dropdown-menu {
    background-color: #0000;
    line-height: 50px;
    color: #2196f3;
    position: relative;
    border-color: transparent;
}

.dropdown-item {
    color: #ffffff;
    letter-spacing: 3px;
    text-decoration: none;
    transition: 0.2s;
}

.dropdown-item:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

li {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    color: #2196f3;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

#effect {
    overflow: hidden;
}

li:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.3s;
}

li span {
    position: absolute;
    display: block;
}

li span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3)
}

li:hover span:nth-child(1) {
    left: 100%;
    transition: 1s; 
}

li span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3)
}

li:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    
}

li span:nth-child(2) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3)
}

li:hover span:nth-child(2) {
    right: 100%;
    transition: 1s;
}

.nav-banner {
    position: relative;
    width: 100%;
  }

h1.container {
    position: sticky;
    top: 0;
    color: #ffffff;
}

h1, p {
    color: #ffffff;
}

h1 {
    color: #2196f3;
}

footer  {
    background-color: #242c33;
}

i {
    color: #2196f3;
    padding: 3px;
}

.grow-shadow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

#home {
    margin-left: 100%;
}

#home:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: blue;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 50%;
}

#contact {
    width: 50%;
}

#confirm {
    color: black;
    margin-left: 140px;
}

#confirmation {
    padding-bottom: 5%;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #fff;
}

.pics {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #fff;
}

.thumbnail {
    width: 200px;
    height: 200px;
    padding: 4px 3px;
}

.thumbnail:hover {
    width: 200px;
    height: 200px;
    padding: 4px 3px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

#album {
    padding-bottom: 20px;
}

.album-img {
    width: 200px;
    height: 200px;
    padding: 4px 3px;
}

.album-img:hover {
    width: 200px;
    height: 200px;
    padding: 4px 3px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.album:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;   
}

h6 {
    text-align: center;
    color: #ffffff;
}

h6:hover {
    text-align: center;
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

#card {
    background-color: #242c33;
    border-color: transparent;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-block-end: 0.625em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: #2196f3;
    width: 100%;
}

legend > h1 {
    color: white;
    display: block;
    margin-left: 30%;
}

figcaption {
    color: #ffffff;
}

h2  {
    text-align: center;
    color: #2196f3;
    padding-top: 50px;
}

#founder {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: groove;
    color: #fff;
}

#founder:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: blue;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 50%;
}

.name-person, title-person {
    text-align: center;
    padding-top: 20px;
}

form    {
    color: #ffff;
    border-color: transparent;
}

.box:hover {
    background-color: transparent;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.box, #textarea {
    border-radius: 24px;
    background-color: transparent;
    border-color: #2196f3;
    width: 150%;
}

input, #textarea   {
    color: white;
}

#footer-tags {
    font-size: medium;
    color: #ffffff;
}

.form-control {
    border-radius: 24px;
}